<p>You property was successfully added!</p>
<a href="@Url.Action("AddProperty", "PropertyManagement")" class="btn btn-primary">Add property</a>
<a href="@Url.Action("ListProperties", "PropertyListing")" class="btn btn-primary">To Home page</a>